body {
  /*padding-top: 40px;*/
  padding-bottom: 40px;
  /*background-color: #eee;*/
  /*background-color: #BFBFBF;*/
}

.text-underline{
	text-decoration: underline;
}

input.error{
	border: 2px solid red;
}

span#idcard_error{
	color: red;
}

td.table-label{
	text-align: right;
}

input[type='text']{
	padding: 5px;
}

select{
	padding: 5px;
}

select.error{
	border: 2px red solid;
}

div.error span{
	
}

span#idcard_error{
	color: red;
}

div.container{
	/*padding-bottom: 200px;*/
}

table#history_data tr td{
	vertical-align: middle;
}

.cursor-pointer{
	cursor: pointer;
}

/*
.highlight{
	background-color: #FFFF88;
}
*/

td.highlight{
	background-color: whitesmoke !important;
}

.table-striped tbody tr:nth-child(odd):hover td,
.table-striped tbody tr:nth-child(odd):hover th {
  /*background-color: #f9f9f9;*/
  /*background-color: red;*/
}

.right-top{
	color: red;
	position: absolute;
	right: 0px;
	top: 0px;
}

.table-responsive{
	overflow-x: auto;
}

label.error2{
	display: none;
	visibility: hidden;
}

input.error2{
	boder: 2px solid red;
}

.badge-error{
	background-color: red;
}

a.text-white{
	color: white;
}

.icon-red{
	color: red;
}






