body {
  /*padding-top: 40px;*/
  padding-bottom: 40px;
  /*background-color: #eee;*/
 /*
  background-color: #BFBFBF;
  background-color: #CFCFCF;
  background-color: #D1D1D1;
  background-color: #C9C9C9;
  */
  /*background-color: #2AAFDB;*/
}

table{
	/*background-color: #FFFFFF;*/
}

.text-underline{
	text-decoration: underline;
}

input.error{
	border: 2px solid red;
}

.text-red{
	color: #DB1F2B;	
}

.text-red2{
	color: #DB1F2B;
}

span#idcard_error{
	color: red;
}

td.table-label{
	text-align: right;
}

input[type='text']{
	padding: 5px;
}

select{
	padding: 5px;
}

select.error{
	border: 2px red solid;
}

div.error span{
	
}

span#idcard_error{
	color: red;
}

div.container{
	/*padding-bottom: 200px;*/
}

table#history_data tr td{
	vertical-align: middle;
}

.cursor-pointer{
	cursor: pointer;
}

/*
.highlight{
	background-color: #FFFF88;
}
*/

td.highlight{
	background-color: whitesmoke !important;
}

.table-striped tbody tr:nth-child(odd):hover td,
.table-striped tbody tr:nth-child(odd):hover th {
  /*background-color: #f9f9f9;*/
  /*background-color: red;*/
}

.right-top{
	color: red;
	position: absolute;
	right: 0px;
	top: 0px;
}

.table-responsive{
	overflow-x: auto;
}

label.error2{
	display: none;
	visibility: hidden;
}

input.error2{
	boder: 2px solid red;
}

.badge-error{
	background-color: red;
}

.badge-success{
	background-color: #5cb85c;
}

.badge-warning{
	background-color: #f0ad4e;
}

a.text-white{
	color: white;
}

.icon-red{
	color: red;
}

#check_all, #not_check_all{
	cursor: pointer;
}

.badge{
	display: inline;
}
h2{
	padding-top: 0px;
	margin-top: 0px;
}

.col-redius-shadow{
	padding: 30px;
	border: #ccc 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 4px 5px 0px rgba(204,12,NaN,1);
	-moz-box-shadow: 2px 4px 5px 0px rgba(204,12,NaN,1);
	box-shadow: 2px 4px 5px 0px rgba(204,12,NaN,1);
	
}

.vertical-middle{
	
	vertical-align: middle !important;
	
}

.beforedue{
	background-color: #ffc053 !important;
}

.nosale{
	background-color: #ff5d5d;
}

.oversale{
	background-color: #f5ff81;
}




